<!-- header section end --> 
 <!-- banner section start --> 
 <div class="banner_section layout_padding">
    <div id="main_slider" class="carousel slide" data-ride="carousel">
       <div class="carousel-inner">
          <div class="carousel-item active">
             <div class="container">
                <h1 class="banner_taital">We<br>Make Your<br>Dream's real!</h1>
                <div class="btn_main">
                   <div class="more_bt"><button (click)="onLoginClick()">Login</button></div>
                   <div class="contact_bt active"><button (click)="contactUsClick()">Contact Us</button></div>
                </div>
             </div>
          </div>
       </div>
    </div>
 </div>
 <!-- about section end -->
 <!-- service section start -->
 <div class="services_section layout_padding">
    <div class="container">
       <div class="services_taital">Our Services</div>
       <p class="services_text">It is a long established fact that a reader will be distracted by the readable</p>
    </div>
    <div class="services_section_2 layout_padding">
       <div class="container-fluid padding_0">
          <div class="box_main">
             <div class="box_left">
                <div class="box_left_main">
                   <div class="box_left_one">
                   </div>
                   <div class="box_right_one">
                      <p class="long_text">It is a long established fact that a reader will be distracted by the </p>
                   </div>
                </div>
             </div>
             <div class="box_middle">
                <div class="box_left_main">
                   <div class="padding_10">
                      <p class="long_text">It is a long established fact that a reader will be distracted by the </p>
                   </div>
                </div>
             </div>
             <div class="box_right">
                <div class="box_left_main">
                   <div class="box_right_one">
                      <p class="long_text">It is a long established fact that a reader will be distracted by the </p>
                   </div>
                   <div class="box_left_one">
                   </div>
                </div>
             </div>
          </div>
       </div>
    </div>
 </div>
 <!-- project section end -->
 <!-- philosophy section start -->
 <div class="philosophy_section layout_padding">
    <div class="container">
       <h1 class="philosophy_taital">Our Philosophy</h1>
       <p class="philosophy_text">It is a long established fact that a reader will be distracted by the readable</p>
    </div>
    <div class="philosophy_section_2 layout_padding">
       <div class="container-fluid">
          <div class="row">
             <div class="col-md-6 padding_0">
                <div class="philosophy_box_main">
                   <div class="philosophy_box">
                      <div class="philosophy_left">
                         <h1 class="number_text">01</h1>
                      </div>
                      <div class="philosophy_right">
                         <h3 class="quick_text">Quick in Response</h3>
                      </div>
                   </div>
                   <div class="philosophy_box">
                      <div class="philosophy_left">
                         <h1 class="number_text">02</h1>
                      </div>
                      <div class="philosophy_right">
                         <h3 class="quick_text">Satisfaction Guarantee</h3>
                      </div>
                   </div>
                   <div class="philosophy_box">
                      <div class="philosophy_left">
                         <h1 class="number_text">03</h1>
                      </div>
                      <div class="philosophy_right">
                         <h3 class="quick_text">Expert & Professional</h3>
                      </div>
                   </div>
                </div>
             </div>
             <div class="col-md-6 padding_0">
                <div class="image_7"><img src="https://images.unsplash.com/photo-1520607162513-77705c0f0d4a?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxzZWFyY2h8MzJ8fGJ1c2luZXNzfGVufDB8fDB8fA%3D%3D&w=1000&q=80" style="padding-left:10%;padding-bottom:10px;width:90%;"></div>
             </div>
          </div>
       </div>
    </div>
 </div>
 <div class="copyright_section">
    <div class="container">
       <p class="copyright_text">This component is from Shell</p>
    </div>
 </div>
