<div class="mt-5">
  <div class="p-5">
    <mat-card class="mt-5">
      <mat-card-title>Login</mat-card-title>
      <mat-card-content>
        <form>
          <p>
            <mat-form-field appearance="fill">
              <mat-label>Enter your email</mat-label>
              <input matInput placeholder="pat@example.com" required />
              <mat-error>err</mat-error>
            </mat-form-field>
          </p>

          <p>
            <mat-form-field appearance="fill">
              <mat-label>Enter your email</mat-label>
              <input matInput placeholder="pat@example.com" required />
              <mat-error>err</mat-error>
            </mat-form-field>
          </p>

          <div class="button">
            <button mat-raised-button color="primary">Primary</button>
          </div>
        </form>
      </mat-card-content>
    </mat-card>
  </div>
</div>
